.producto {
    border: 1px solid #ccc;
    display: inline-block;
    margin: 10px;
    padding: 10px;
}

.producto-imagen {
    max-width: 150px;
    height: auto;
}

.producto-detalles {
    text-align: center;
}

.contenedor-productos {

    margin-left: 50px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
}